<img class="img-center" src="../../../assets/images/rev-logo.png" width="30%" height="30%" alt="Revature">
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title></title>
   <link rel="stylesheet" href="login.component.css">
 </head>
 <body>
   <div class="center">
     <h1>Login</h1>
     <form id="login-form" [formGroup]="loginForm">
       <div class="form-group">
         <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" placeholder="Email" required>
         <span></span>
         <label for="exampleInputEmail1">Email</label>
       </div>
       <div class="form-group">
         <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password" required>
         <span></span>
         <label>Password</label>
       </div>
       <div class="pass" [routerLink]="['/reset-password']">Forgot Password?</div>
       <button  id="loginbtn" (click)="onSubmit()">Login</button>
       <div class="signup_link">
         Not a member? <button id="loginbtn2" [routerLink]="['/register']">Register</button>
       </div>
     </form>
   </div>
 
 </body>
</html>
 
 

